header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;

  flex-direction: row;

  .header_logo {
    &-devhost {
      @include respond(tab-port) {
        width: 75%;
      }

      @include respond(phone) {
        width: 65%;
      }

      @include respond(small-phone) {
        width: 55%;
      }
    }
  }

  .header_navigation {
    display: flex;
    color: $color-white;
    &-item {
      font-family: $font-OS;
      list-style: none;
      font-size: 1.4rem;
      &:not(:last-child) {
        margin-right: 2.5rem;
      }
    }
  }
}
