header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 100;

  .header__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }

    &_logo {
      @include respond(phone) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
      }

      &-devhost {
        @include respond(tab-port) {
          width: 75%;
        }
      }
    }

    &_navigation {
      display: flex;
      color: $color-white;

      @include respond(phone) {
        visibility: hidden;
      }

      &-item {
        font-family: $font-OS;
        list-style: none;
        font-size: 1.4rem;

        &:not(:last-child) {
          margin-right: 2.5rem;
        }
      }
    }
  }
}
