.scroll__container {
  svg {
    bottom: 50px;

    @include respond(tab-land) {
      bottom: 80px;
    }
  }
}

.scroll-indicator {
  position: absolute;
  left: 50%;
  font-size: 40px;
  transform: translate(-50%, -50%);
  -webkit-animation: bouncing 1s ease infinite;
  animation: bouncing 1.5s ease infinite;

  @keyframes bouncing {
    50% {
      transform: translateX(-50%);
    }
  }
}
