.scroll__container {
  svg {
    bottom: 50px;
  }
}

.scroll-indicator {
  position: absolute;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  -webkit-animation: bounce 1s ease infinite;
  animation: bounce 1s ease infinite;

  @keyframes bounce {
    50% {
      transform: translateX(-50%);
    }
  }
}
