//colors
$color-background: #16161a;
$color-background-card: #252933;
$color-white: #fffffe;
$color-paragraph: #94a1b2;
$color-line: #4b4b4a;
$color-violet: #7f5af0;
$font-OS: "Open Sans", sans-serif;
$font-FM: "Fira Mono", monospace;
