.events {
  padding: 100px 0;

  @include respond(phone) {
    padding: 50px 0;
  }
  @include respond(small-phone) {
    padding: 30px 0;
  }

  &-holder {
    display: flex;
    flex-direction: column;
  }
}

.Event-card {
  margin-bottom: 5rem;
  &-base {
    display: flex;

    &-left {
      flex: 0.5;
    }

    &-right {
      flex: 0.7;
    }

    &-content {
      position: absolute;
      @include respond(phone) {
        position: relative;
        background-color: $color-background-card;
      }

      .event-type {
        font-size: 2rem;
        font-family: $font-FM;
        color: $color-violet;

        @include respond(phone) {
          padding-left: 25px;
          padding-top: 25px;

          font-size: 1.5rem;
        }
      }

      .event-title {
        font-family: $font-OS;
        font-size: 4rem;
        color: white;
        font-weight: 600;

        @include respond(phone) {
          font-size: 3rem;
          padding-left: 25px;
        }
      }
      .event-time {
        font-size: 2rem;
        font-family: $font-FM;
        color: $color-violet;

        @include respond(phone) {
          font-size: 1.5rem;
          padding-left: 25px;
        }
      }

      .event-details {
        margin-top: 20px;
        background-color: $color-background-card;
        max-width: 60%;
        @include respond(phone) {
          max-width: 98%;
        }

        &-info {
          padding: 25px;
          font-size: 1.8rem;
          color: $color-paragraph;
          font-family: $font-OS;
          text-align: justify;
        }

        &-speaker {
          padding: 25px;
          display: flex;
          align-items: center;
          &-image {
            width: 5rem;
            border-radius: 100%;
            margin-right: 1rem;
          }

          &-name {
            font-family: $font-FM;
            color: $color-white;
            font-size: 1.6rem;
            font-weight: 200;
          }
        }
      }
    }
  }
}
