.speakers {
  padding: 100px 0;
}

.speakercard {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;

  @include respond(tab-land) {
    flex-direction: column;
  }

  &__left {
    padding: 4rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;
    justify-content: center;

    @include respond(tab-land) {
      background-color: $color-background-card;
      padding: 1.5rem;
      justify-content: center;
      border-radius: 5px 5px 0 0;
    }

    &-image {
      width: 20rem;
      border-radius: 100%;

      @include respond(tab-land) {
        width: 15rem;
      }
    }

    &-title {
      margin-top: 2rem;
      font-family: $font-OS;
      letter-spacing: 0.15rem;

      @include respond(tab-land) {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0;
      }
    }

    &-subtitle {
      margin-top: 0.5rem;
      font-family: $font-FM;
      font-weight: 400;
      text-align: center;

      @include respond(tab-land) {
        text-align: center;
        font-size: 1.6rem;
      }
    }
  }

  &__right {
    background-color: $color-background-card;
    padding: 5rem 10rem;
    border-radius: 5px;

    @include respond(tab-land) {
      padding: 1.5rem;
      border-radius: 0 0 5px 5px;
    }

    &-title {
      color: $color-white;
      font-family: $font-FM;
      font-weight: 600;
      letter-spacing: 0.1rem;
      font-size: 2rem;
    }

    &-description {
      margin: 2.5rem 0;
      color: $color-paragraph;
      font-family: $font-OS;
      font-weight: 400;
      font-size: 1.6rem;
      text-align: justify;
      line-height: 3rem;
      letter-spacing: 0.015em;

      @include respond(tab-land) {
        margin: 2rem 0;
      }
    }

    &__link {
      display: flex;
      justify-content: space-between;

      &-left {
        &-github {
          margin-right: 2rem;

          @include respond(tab-land) {
            width: 3rem;
          }
        }

        &-image {
          @include respond(tab-land) {
            width: 3rem;
          }
        }
      }
    }
  }
}
