.about {
  padding: 100px 0px 0px 0px;
  @include respond(big-desktop) {
    padding: 100px 0;
  }
  @include respond(phone) {
    padding: 50px 0;
  }
  &-content {
    color: white;

    p {
      font-family: $font-OS;
      color: $color-paragraph;
      font-size: 2rem;
      text-align: justify;
      line-height: 3rem;
      letter-spacing: 0.015em;

      a {
        color: $color-violet;
      }
    }
  }

  &-cards {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;

    @include respond(tab-land) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.card {
  margin: 20px;
  min-width: 350px;
  min-height: 410px;
  max-width: 350px;
  height: 100%;
  max-height: 410px;
  position: relative;
  @include respond(tab-land) {
    align-self: center;
    min-height: 300px;
    max-height: 300px;
    min-width: 300px;
    max-width: 300px;
    margin-bottom: 50px;
  }

  @include respond(small-phone) {
    min-height: 280px;
    max-height: 280px;
    min-width: 210px;
    max-width: 210px;
    margin-bottom: 80px;
  }

  .card-face {
    position: relative;
    background-color: $color-background-card;
    height: 100%;
    @include respond(tab-land) {
      height: 310px;
    }

    .card-content {
      padding: 25px;

      @include respond(small-phone) {
        padding: 10px;
      }
      &-title {
        font-family: "Gilmer-medium", sans-serif;
        color: white;
        font-size: 2rem;
        @include respond(phone) {
          font-size: 2.4rem;
        }
      }

      &-details {
        text-align: justify;
        padding-top: 20px;
        font-family: $font-OS;
        font-size: 1.6rem;
        color: $color-paragraph;
        height: 100%;
        line-height: 2.8rem;
        letter-spacing: 0.015em;
      }
    }

    &-outline {
      height: 100%;
      width: 100%;
      background-color: $color-background;
      border: solid $color-violet 2px;
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: -5;
    }
  }
}
