.about {

  @include respond(big-desktop) {
    padding: 100px 0;

}
@include respond(phone) {
  padding: 50px 0;
}
@include respond(small-phone) {
  padding: 50px 0;
}
  &-content {
    color: white;
    
    p {
      font-family: $font-NN;
      color: $color-paragraph;
      font-size: 2rem;
      text-align: justify;
    }
  }

  &-cards {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;

    @include respond(phone) {
      flex-direction: column;
      justify-content: center;
  }
  @include respond(small-phone) {
    flex-direction: column;
    justify-content: center;
}

    
  }
}

.card {
  margin: 20px;
  min-width: 220px;
  max-width:220px;
  @include respond(big-desktop) {
    max-width: 280px;
}
@include respond(phone) {
  align-self:center;
  }
  @include respond(small-phone) {
    align-self:center;
    }

  &-outline {
    background-color: $color-background;
    border: solid $color-violet 2px;

    .card-face {
      position: relative;
      top: -15px;
      left: -15px;
      background-color: $color-background-card;

      .card-content {
        padding: 25px;
        &-title {
          font-family: "Gilmer-medium", sans-serif;
          color: white;
          font-size: 2rem;
        }

        &-details {
          text-align: justify;
          padding-top: 20px;
          font-family: $font-NN;
          font-size: 1.5rem;
          color: $color-paragraph;
        }
      }
    }
  }
}
