//fonts
@font-face {
  font-family: "Gilmer-heavy";
  src: url("./font/gilmer/GilmerHeavy.otf");
}

@font-face {
  font-family: "Gilmer-light";
  src: url("./font/gilmer/GilmerLight.otf");
}

@font-face {
  font-family: "Gilmer-medium";
  src: url("./font/gilmer/GilmerMedium.otf");
}

@font-face {
  font-family: "Gilmer-outline";
  src: url("./font/gilmer/GilmerOutline.otf");
}

@font-face {
  font-family: "Gilmer-regular";
  src: url("./font/gilmer/GilmerRegular.otf");
}

//open sans & fira mono

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");

/*
font-family: 'Fira Mono', monospace;
font-family: 'Open Sans', sans-serif;
font-family: 'Nunito', sans-serif;
*/

.section {
  &__title {
    color: $color-white;
    font-family: 'Gilmer-medium';
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 5rem;
  
    &::before {
      position: relative;
      counter-increment: section;
      content: "0" counter(section) ".";
      margin-right: 3rem;
      font-family: font-FM;
      color: $color-violet;
      font-size: 3rem;
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 30rem;
      background-color: $color-line;
      margin-left: 1.5rem;
      position: relative;
      top: -18px;
    }
  }
}